{% extends "base.html" %}

{% block content %}

<h1>Tags
  <a class="btn btn-primary" href="{% url 'tasks:tag-create' %}">Add</a>
</h1>
  {% if tags_list %}
    <table class="table">
      <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      {% for tag in tags_list %}
            <tr>
            <td>
              {{ tag.id }}
            </td>
              <td>
              {{ tag.name }}
            </td>
              <td>
              <a class="btn btn-warning" href="{% url "tasks:tag-update" pk=tag.id %} ">UPDATE</a>
              </td>
             <td>
              <a class="btn btn-danger" href="{% url "tasks:tag-delete" pk=tag.id %} ">DELETE</a>
              </td>
            </tr>
          {% endfor %}
    </table>
  {% else %}
    <p>There are no tags!</p>
  {% endif %}
{% endblock %}
